<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5>Contact Information</h5>
		</div>
		<div class="panel panel-body">
			<div class="row">
				<div class="col-md-6">
					<h6>Address</h6>
					<p>Flat 16 Block 16</p>
					<p>Libra Plaza G-7 Markaz</p>
					<p>Islamabad</p>
				</div>
				<div class="col-md-6">
					<h6>Phone/Fax</h6>
					<p><strong>Ph:</strong>&nbsp; 2204163</p>
					<p><strong>Fax:</strong>&nbsp; 290340293</p>
					<p><strong>Email</strong>&nbsp; @Islamabad</p>
				</div>

			</div>
	    </div>
	</div>
</div>