<div class="panel panel-default">
	<div class="panel-body">
		<form name="workerForm" role="horizontal">
			<div class="row">
				<div class="form-group col-md-6">
					<div class="col-md-3">
						<label for="workerName">Full Name:</label>
					</div>
					<div class="col-md-9">
						<input type="text" class="form-control" name="workerName">
					</div>
				</div>
				<div class="form-group col-md-6">
					<div class="col-md-3">
						<label for="workerName">Address:</label>
					</div>
					<div class="col-md-9">
						<input type="text" class="form-control" name="workerName">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<div class="col-md-3">
						<label for="workerName">Passport #:</label>
					</div>
					<div class="col-md-9">
						<input type="text" class="form-control" name="workerName">
					</div>
				</div>
				<div class="form-group col-md-6">
					<div class="col-md-3">
						<label for="workerName">Date of Birth:</label>
					</div>
					<div class="col-md-9">
						<input type="text" class="form-control" name="workerName">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<div class="col-md-3">
						<label for="workerName">ID Card:</label>
					</div>
					<div class="col-md-9">
						<input type="text" class="form-control" name="workerName">
					</div>
				</div>
				<div class="form-group col-md-6">
					<div class="col-md-3">
						<label for="workerName">Ph:</label>
					</div>
					<div class="col-md-9">
						<input type="text" class="form-control" name="workerName">
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="panel-footer">
		<button class="btn btn-primary">Save</button>
	</div>
</div>